*{
    padding: 0px;
    margin: 0px;
    
}
div{
    height: 100vh;
    width: 100%;
   
}

#servicetable{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
   
}
#insidediv{
    height: 100vh;
    width: 70%;
    margin-top: 20px;
    
}
#backhome{
    position: absolute;
    bottom: 20px;
    left: 45%;


}

